$color-link: #6f78f9;
$color-a-link: #706eee;
$color-link-hover: #6794ab;
$color-input-border: #efefef;
$color-bg: #f4f4f4;

$color-yellow: #ffc30d;
$color-orange: #ffa424;
$color-red: #ed0d2a;
$color-green: #00bb95;

$color-btn: #fff;
$color-btn-hover: #ffa424;