@import "../../css/base/var.scss";
@import "./components/style.scss";

.module-vote{
    padding-bottom: .96rem;
    min-height: 100%;
    background-color: #fff;
    .vote{
      &-item{
        width:100%;
        border-bottom:1px solid rgb(221,221,221);
        padding: .4rem .3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avar{
            width:2.5rem;
            height:2.5rem;
            position: relative;
            .photo{
                width:100%;
            }
            .mask{
                position: absolute;
                background-color: #000;
                // opacity:0.4;
                background-color:rgba(0,0,0,.5);
                bottom:0;
                height:.5rem;
                width:100%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content:center;
                img{
                    width:.3rem;
                }
                span{
                    color: #fff;
                    font-size: .3rem;
                    margin-left:.1rem;
                }
            }
        }
        .remark{
            // width:64%;
            flex:1;
            height:2.5rem;
            box-sizing: border-box;
            padding-left:.3rem;
            padding-top:0;
            overflow: hidden;
            font-size: .25rem;
            word-break:break-all;
            position: relative;
            .name{
                font-weight: bold;
                font-size:.3rem;
            }
            .purpose{
                color:#bbb;
            }
            & > a:first-child {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
       
      }
      &-item:last-child{
        border-bottom:0px;
      }
    }
  }
